<form id="form"	method="POST" action="/api/posts">
	<input id="postTitle" type="text" name="title" placeholder="Enter Title ...">
	<textarea id="postContent" name="content" placeholder="Enter Content ..."></textarea>
	<button type="submit"> Create Post</button>
</form>